@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-main: #292828;
  --border-main: #afafaf;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border-main: var(--border-main);
  --color-main: var(--background-main);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #15161b;
    --foreground: #ededed;
    --background-main: #1c1c24 ;
    --border-main: #0e0e17;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
